ul{
 display: flex;
 gap: 20px;
 background: #142F5E;
font-size: 10px;
list-style: none;
margin: 0;
align-items: center ;
padding: 7px 18px;
}

.logo{
  color: #3C5C9B;
  font-size: 8px;
  font-weight: bold;
}

hr{
    border: 2px solid rgba(255, 255, 255, 0.1) ;
}

.well{
 font-size: 17px;   
    
}
  a{
    text-decoration: none;
    color: #fff;
  }
  

body{
  margin: 0;
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #ffffff;
    min-height: 100vh;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeIn 0.7s ease-in-out
}

p, details {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    max-width: 450px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 12px;
    color: #e0e0e0;
}

h2, h4 {
    color: #00e5ff;
    text-shadow: 0 0 15px rgba(0, 229, 255, 0.6);
    margin-bottom: 35px;
    font-size: 1.2em;
    letter-spacing: 1px;
}

a:hover {
    color: #342694 !important;
}

details {
    cursor: pointer;
    transition: background 0.3s;
}

details:hover {
    background: rgba(255, 255, 255, 0.1);
}

summary {
    font-weight: bold;
    color: #fff;
    outline: none;
    font-size: 12px;
}
h2{
  font-size: 13px;  
}

.logo{
  color: #3C5C9B;
  font-size: 8px;
    
}
.logo:hover{
 color: #5172C8;   
 border-radius: 2px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

.copy{
    font-size: 10px;
    background: none;
    backdrop-filter: none;
    border: none;
    box-shadow: none;
    color: #888;
    font-size: 10px !important;
    margin-top: 20px;
}
